@import 'partials/setup';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/header';
@import 'partials/about';
@import 'partials/skills';
@import 'partials/work';
@import 'partials/contact';
@import 'partials/footer';

// * {
// 	border: 1px solid red;
// }

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: $baseFont;
}

.outer-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

h1 {
	@include headerText(9rem, $whiteColor, 700);
	margin: 0;
	line-height: 2px;
}

h2 {
	@include headerText(3rem, $blackColor, 700);
	// text-transform: uppercase;
	letter-spacing: 1.6px;
}

h3 {
	@include headerText(2rem, $blackColor, 700);
	line-height: 28px;
	margin: 15px 0;
}

h4 {
	font-family: $secondaryFont;
	font-size: 1.6rem;
	color: $greenColor;
	margin: 0;
	text-transform: uppercase;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

main {
	margin-top: 20px;
	width: 97%;
}

section {
	background: $sectionColor;
	margin: 20px 0;
	border-radius: 2px;
}

.wrapper {
	width: 93%;
	margin: 0 auto;
	padding: 60px 95px;
	display: flex;
	justify-content: space-between;
}

.section-title {
	width: 30%;
	padding: 0 20px;
}



/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	.wrapper {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.section-title {
		width: 100%;
		h2 {
			text-align: center;
		}
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	h1 {
		font-size: calc(6.2rem + (9 - 6.2) * ((100vw - 481px) / (768 - 481)));
	}
	.wrapper {
		padding: 60px;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	h1 {
		font-size: calc(6rem + (6.6 - 6) * ((100vw - 300px) / (480 - 300)));
		line-height: 55px;
	}
	body {
		font-size: 1.4rem;
	}
	h2 {
		letter-spacing: 0.6px;
	}
	.wrapper {
		padding: 20px 10px;
	}
}