.about-section {
	padding: 50px 0;
}

.about-content {
	width: 70%;
	line-height: 26px;
	padding-left: 95px;
}

.about-info {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 370px;
	margin-left: 20px;
	img {
		max-width: 90%;
		border: 10px solid $whiteColor;
		border-radius: 2px;
	}
}

.name {
	border-bottom: 1px solid $greenColor;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	.about-content {
		width: 100%;
		padding: 0 75px;
	}

	.about-info {
		margin: 0;
		margin-top: 25px;
		padding: 0;
		text-align: center;
		img {
			max-width: 100%;
		}
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	.about-content {
		width: 85%;
		padding: 0;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {

}
