.contact-wrapper {
	// flex-direction: column;
}

.contact-container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.contact__form {

	width: 50%;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	h3 {
		font-size: 2.4rem;
		margin-bottom: 55px;
	}
	input, textarea {
		background: transparent;
		border: none;
		border-bottom: 1px solid $greyColor;
		padding: 15px 0;
		margin-bottom: 35px;
		outline: transparent;
		resize: none;
		transition: all 0.2s;
		&:focus {
			border-bottom: 4px solid $greenColor;
		}
	}
	textarea {
		height: 90px;
	}
	input[type="submit"] {
		@include buttonOrLink();
		background: $greenColor;
		color: $whiteColor;
		align-self: flex-start;
		&:hover {
			transform: translateY(-5px);
			box-shadow: 2px 2px 10px 1px #91918e;
		}
	}
}

.contact__social {
	text-align: left;
	display: flex;
	justify-content: space-between;
	i {
		font-size: 2.6rem;
		margin-right: 5px;
	}
	a {
		color: $greenColor;
		transition: all 0.5s;
		&:hover {
			color: $greyColor;
			cursor: pointer;
		}
	}
}

.contact__information {
	width: 40%;
	padding-right: 50px;
	.contact__point {
		text-align: center;
		margin: 60px 0;
		&:last-child {
			margin-bottom: 0;
		}
		img {
			margin-bottom: 20px;
			transition: all 0.5s;
			&:hover {
				transform: translateY(-5px);
			}
		}
	}
}

.mail {
	padding: 10px 0;
	color: $blackColor;
	transition: all 0.5s;
	&:hover {
		cursor: pointer;
		color: $greenColor;
		border-bottom: 1px solid $greenColor;
	}
}


/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	.contact__information {
		padding-right: 0;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	.contact-container {
		flex-direction: column-reverse;
		width: 80%;
		padding: 0;
	}
	.contact__social {
		display: flex;
		justify-content: space-around;
		i {
			font-size: 3rem;
		}
	}
	.contact__form {
		width: 100%;
		padding: 0;
	}
	.contact__information {
		width: 100%;
		display: flex;
		justify-content: space-between;
		.contact__point {
			display: none;
			margin: 0;
			p, img {
				display: none;
			}
			&:last-child {
				width: 100%;
				display: block;
			}
		}
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {

}
