footer {
	text-align: center;
	a {
		color: $greyColor;
		transition: all 0.5s;
		&:hover {
			border-bottom: 1px solid $greenColor;
		}
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	footer {
		font-size: 1.2rem;
	}
	
}