@mixin headerText ($fontSize, $fontColor, $fontWeight) {
	font-family: $headerFont;
	font-size: $fontSize;
	color: $fontColor;
}

@mixin buttonOrLink () {
	padding: 10px;
	border: 2px solid $greenColor;
	border-radius: 2px;
	transition: all 0.5s;
	&:hover {
		background: $greenColor;
		color: $whiteColor;
	}
}
