$headerFont: 'Playfair Display', serif;
$secondaryFont: 'Montserrat', sans-serif;
$baseFont: 'Raleway', sans-serif;

$greenColor: #0db4a1;
$blueColor: #13547a;
$whiteColor: #feffff;
$blackColor: #222222;
$sectionColor: #fafafa;
$shadowColor: #272725;